$theme-header-background-color: "primary" !default;
$theme-footer-background-color: "primary" !default;

$text-base-size: 16 !default;
$text-headline-scale: 1 !default;
$text-headline-ease: "linear" !default;
