---
const { name, link, outline, color } = Astro.props;

let classList = "usa-button";

if(outline) {
    classList = classList + " usa-button--outline";
}
if(color) {
    classList = classList + ` usa-button--${color}`;
}

---
<a href={link} class={classList}>{name}</a>