---
const { action, onsubmit, method, submit, back } = Astro.props;
---

<form class="usa-form" action={action} method={method} onsubmit={onsubmit}>
	<slot />
	<ul class="usa-form--submission usa-button-group">
		{back &&
		<li class="usa-button-group__item">
			<button class="usa-button usa-button--outline" onclick="history.back()">Back</button>
		</li>
		}
		<li class="usa-button-group__item">
			<input class="usa-button" type="submit" value={submit || 'Submit'} />
		</li>
	</ul>
</form>

<script is:inline>
	function form(obj) {
		const formElements = Array.from(obj.elements);
		const formValues = {};
		formElements.forEach(element => {
			if(element.name) {
				formValues[element.name] = element.value;
			}
		});
		console.log(formValues);
	}
</script>