---
import CharacterCount from '@component/uswds/CharacterCount.astro';
import Form from '@component/uswds/Form.astro';
import Layout from '@layout/Default.astro';
---

<Layout title="home">
	<Form action="javascript:null;" onsubmit="javascript:form(this)">
		<CharacterCount name="character-count" />
	</Form>
</Layout>