---
const title = '';

import astroConfig from '@config';
import Layout from '@layout/Default.astro';
---

<Layout title={title}>
	<h1>{astroConfig.domain}</h1>
	<pre>{JSON.stringify(astroConfig.menu, null, 2)}</pre>
</Layout>
