---
const title = '';

import astroConfig from '../../astro.config.mjs';
import Layout from '../layouts/Default.astro';
---

<Layout title={title}>
	<h1>Page content</h1>
	<pre>{JSON.stringify(astroConfig.menu, null, 2)}</pre>
</Layout>
