---
import '../styles/styles.scss'
import { uswds } from '/@uswds/uswds/dist/js/uswds.min.js';
// import { uswds } from '../../public/assets/js/uswds.min.js';

import Banner from '../components/Banner.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<Banner />
		
		<h1>Astro</h1>
	</body>
</html>
