---
import CharacterCount from '@component/uswds/CharacterCount.astro';
import Form from '@component/uswds/Form.astro';
import Layout from '@layout/Default.astro';
---

<Layout title="home">
	<Form>
		<CharacterCount />
	</Form>
</Layout>
