---
import Form from '@component/uswds/Form.astro';
import RadioButtons from '@component/uswds/RadioButtons.astro';
import Layout from '@layout/App.astro';
---

<Layout title="Home">
	<Form action="javascript:null;">
		<RadioButtons
			label="This is a label for this component"
			name="historical-figures"
			buttons={[
				{
					label: 'Sojourner Truth',
					value: 'sojourner-truth',
					checked: true,
				},
				{
					label: 'Frederick Douglass',
					value: 'frederick-douglass',
					description: 'This radio button has a description',
				},
				{
					label: 'Booker T. Washington',
					value: 'bootker-t-washington',
				},
				{
					label: 'George Washington Carver',
					value: 'george-washington-carver',
					disabled: true,
				},
			]}
		/>
	</Form>
</Layout>
