---
import astroConfig from '@config';
import Banner from '@uswds/Banner.astro';
import Head from '@component/Head.astro';
import Header from '@uswds/Header.astro';
import Skipnav from '@uswds/Skipnav.astro';

const { title } = Astro.props;
---

<html lang={astroConfig.lang}>
	<Head title={title} />
	<body class="app-layout">
		<Skipnav />
		<Banner />
		<Header />
		<main class="app-layout-main" id="main-content">
			<aside class="app-layout-left"><slot name="left"/></aside>
			<article class="app-layout-content">
				<slot />
			</article>
			<aside class="app-layout-right"><slot name="right"/></aside>
		</main>

		<script>
			import '/node_modules/@uswds/uswds/dist/js/uswds.min.js';
		</script>
	</body>
</html>
