---
import astroConfig from '@config';
import Banner from '@uswds/Banner.astro';
import Head from '@component/Head.astro';

import '../styles/styles.scss';

const { title } = Astro.props;
---

<html lang={astroConfig.lang}>
	<Head title={title} />
	<body>
		<Banner />

		<slot />

		<script>
			import '/node_modules/@uswds/uswds/dist/js/uswds.min.js';
		</script>
	</body>
</html>
